* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fase-mega-main.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

main {
    display: inline-block;
    position: relative;
}

#mega {
  background-image: url("../img/mega-main.gif");
  background-repeat: no-repeat;
  transform: scale(3,3);
  margin-top: -33px;
}


.buttons {
    position: absolute;
    bottom: 50%;
    background-color: transparent;
    width: 22px;
    height: 22px;
    border-radius: 150px;
    display: flex;
    margin-bottom: -150px;
    cursor: pointer;
    margin-left: 5px;
    color: transparent;
    gap: 20px;
}

button {
    background-color: transparent;
    color: transparent;
}

#mega.stop {
    width: 26px;
    height: 55px;
    background-position: -143px 0px;
    animation: stop 900ms;
    animation-fill-mode: forwards;
}

#mega.start {
    width: 26px;
    height: 55px;
    background-position: -143px 0px;
    animation: start linear 1 500ms;
    animation-fill-mode: forwards;
}

#mega.run {
    position: relative;
    width: 34px;
    height: 42px;
    background-position: -323px -111px;
    animation: run linear infinite 1000ms, fundo-right linear infinite 4s;
}

#mega.inverter {
    position: relative;
    transform: scale(-3,3); 
    width: 34px;
    height: 42px;
    background-position: -323px -111px;
    animation: inverter linear infinite 1000ms, fundo-left linear infinite 4s;

}

#mega.jump {
    width: 30px;
    height: 53px;
    background-position: -323px -111px;
    animation: jump linear 1 950ms;
    animation-fill-mode: forwards;
}

#mega.jumpLeft {
    transform: scale(-3,3);
    width: 30px;
    height: 53px;
    background-position: -323px -111px;
    animation: jumpLeft linear 1 1s, fundo-left linear 1 2s;
    animation-fill-mode: forwards;
}


@keyframes fundo-left {
    0% {
        margin-right: 0vw;
    }
    100% {
        margin-right: 89vw;
    }
}
@keyframes fundo-right {
    0% {
        margin-left: 0vw;
    }
    100% {
        margin-left: 89vw;
    }
}

/* @keyframes stop {
    0%{
        width: 34px;
        background-position: -306px 0px;
    }
    100%{
        width: 34px;
        background-position: -306px 0px;
    }
} */

@keyframes start {
    0% {
        width: 25px;
        background-position: -80px 0px;
    }
    10%{
        width: 25px;
        background-position: -143px 0px;
    }
    19.999%{
        width: 25px;
        background-position: -143px 0px;
    }
    20%{
        width: 27px;
        background-position: -166px 0px;
    }
    39.999%{
        width: 27px;
        background-position: -166px 0px;
    }
    40%{
        width: 34px;
        background-position: -196px 0px;
    }
    59.999%{
        width: 34px;
        background-position: -196px 0px;
    }
    60%{
        width: 34px;
        background-position: -232px 0px;
    }
    79.999%{
        width: 34px;
        background-position: -232px 0px;
    }
    80%{
        width: 34px;
        background-position: -269px 0px;
    }
    99.999%{
        width: 34px;
        background-position: -269px 0px;
    }
    100%{
        width: 34px;
        background-position: -306px 0px;
    }  
}

@keyframes run {
    0%{ 
        width: 20px;
        background-position: -103px -111px;
    }
    9.999%{
        width: 20px;
        background-position: -103px -111px;
    }
    10%{
        width: 24px;
        background-position: -127px -111px;
    }
    19.999%{
        width: 24px;
        background-position: -127px -111px;
    }
    20%{
        width: 32px;
        background-position: -155px -111px;
    }
    29.999%{
        width: 32px;
        background-position: -155px -111px;
    }
    30%{
        width: 34px;
        background-position: -192px -111px;
    }
    39.999%{
        width: 34px;
        background-position: -192px -111px;
    }
    40%{
        width: 26px;
        background-position: -232px -111px;
    }
    49.999%{
        width: 26px;
        background-position: -232px -111px;
    }
    50%{
        width: 22px;
        background-position: -265px -111px;
    }
    59.999%{
        width: 22px;
        background-position: -265px -111px;
    }
    60%{
        width: 25px;
        background-position: -292px -111px;
    }
    69.999%{
        width: 25px;
        background-position: -292px -111px;
    }
    70%{
        width: 30px;
        background-position: -323px -111px;
    }
    79.999%{
        width: 30px;
        background-position: -323px -111px;
    }
    80%{
        width: 34px;
        background-position: -359px -111px;
    }
    89.999%{
        width: 34px;
        background-position: -359px -111px;
    }
    90%{
        width: 29px;
        background-position: -398px -111px;
    }
    100%{
        width: 29px;
        background-position: -398px -111px;
    }
}

@keyframes inverter {
    0%{ 
        width: 20px;
        background-position: -103px -111px;
    }
    9.999%{
        width: 20px;
        background-position: -103px -111px;
    }
    10%{
        width: 24px;
        background-position: -127px -111px;
    }
    19.999%{
        width: 24px;
        background-position: -127px -111px;
    }
    20%{
        width: 32px;
        background-position: -155px -111px;
    }
    29.999%{
        width: 32px;
        background-position: -155px -111px;
    }
    30%{
        width: 34px;
        background-position: -192px -111px;
    }
    39.999%{
        width: 34px;
        background-position: -192px -111px;
    }
    40%{
        width: 26px;
        background-position: -232px -111px;
    }
    49.999%{
        width: 26px;
        background-position: -232px -111px;
    }
    50%{
        width: 22px;
        background-position: -265px -111px;
    }
    59.999%{
        width: 22px;
        background-position: -265px -111px;
    }
    60%{
        width: 25px;
        background-position: -292px -111px;
    }
    69.999%{
        width: 25px;
        background-position: -292px -111px;
    }
    70%{
        width: 30px;
        background-position: -323px -111px;
    }
    79.999%{
        width: 30px;
        background-position: -323px -111px;
    }
    80%{
        width: 34px;
        background-position: -359px -111px;
    }
    89.999%{
        width: 34px;
        background-position: -359px -111px;
    }
    90%{
        width: 29px;
        background-position: -398px -111px;
    }
    100%{
        width: 29px;
        background-position: -398px -111px;
    }
}

@keyframes jump {
    0%{
        width: 29px;
        background-position: -141px -60px;
    }
    9.999%{
        width: 29px;
        background-position: -141px -60px;
    }
    10%{
        width: 29px;
        background-position: -171px -65px;
    }
    14.999%{
        width: 29px;
        background-position: -171px -65px;
    }
    15%{
        width: 29px;
        background-position: -200px -65px;
    }
    29.999%{
        width: 29px;
        background-position: -200px -65px;
    }
    30%{
        width: 29px;
        background-position: -224px -62px;
    }
    44.999%{
        width: 29px;
        background-position: -224px -62px;
    }
    45%{
        width: 29px;
        background-position: -254px -63px;
    }
    64.999%{
        width: 29px;
        background-position: -254px -63px;
    }
    65%{
        width: 29px;
        background-position: -287px -62px;
    }
    84.999%{
        width: 29px;
        background-position: -287px -62px;
    }
    85%{  
        width: 29px;
        background-position: -320px -62px;
    }
    94.999%{
        width: 29px;
        background-position: -320px -62px;
    }
    95%{
        width: 29px;
        background-position: -352px -62px;
    }
    99.999%{
        width: 29px;
        background-position: -352px -62px;
    }
    100%{
        width: 29px;
        background-position: -352px -62px;
    } 
}
@keyframes jumpLeft {
    0%{
        width: 29px;
        background-position: -141px -60px;
    }
    9.999%{
        width: 29px;
        background-position: -141px -60px;
    }
    10%{
        width: 29px;
        background-position: -171px -65px;
    }
    14.999%{
        width: 29px;
        background-position: -171px -65px;
    }
    15%{
        width: 29px;
        background-position: -200px -65px;
    }
    29.999%{
        width: 29px;
        background-position: -200px -65px;
    }
    30%{
        width: 29px;
        background-position: -224px -62px;
    }
    44.999%{
        width: 29px;
        background-position: -224px -62px;
    }
    45%{
        width: 29px;
        background-position: -254px -63px;
    }
    64.999%{
        width: 29px;
        background-position: -254px -63px;
    }
    65%{
        width: 29px;
        background-position: -287px -62px;
    }
    84.999%{
        width: 29px;
        background-position: -287px -62px;
    }
    85%{  
        width: 29px;
        background-position: -320px -62px;
    }
    94.999%{
        width: 29px;
        background-position: -320px -62px;
    }
    95%{
        width: 29px;
        background-position: -352px -62px;
    }
    99.999%{
        width: 29px;
        background-position: -352px -62px;
    }
    100%{
        width: 29px;
        background-position: -352px -62px;
    } 
}

@media (max-width: 400px){

    #mega {
        background-image: url("../img/mega-main.gif");
        background-repeat: no-repeat;
        transform: scale(2,2);
        margin-top: 20px;
        margin-left: 0px;
      }

      #mega.inverter {
        position: relative;
        transform: scale(-2,2); 
        width: 34px;
        height: 42px;
        background-position: -323px -111px;
        animation: inverter linear infinite 1000ms, fundo-left linear infinite 4s;
    
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/fase-mega-main.png);
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
    }
    
    section  {
        position: fixed;
    }

    /* section img {
        width: 350px;
        margin-top: 450px;
    } */

    .buttons {
        height: 10px;
        width: 5px;
        align-items: center;
        justify-content:flex-start;
        margin-left: -160px;
    }

    button img {
        width: 30px;
        height: 30px;
        opacity: 70%;
    }

    /* button {
        width: 100%;
        padding: 4%;
        border: 2px solid #000;
        border-radius: 5px;
        font-size: clamp(8px, 5vw, 1rem);
        font-weight: 600;
        color: white;
        background-color: #444;
        box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    } */

    #stoprun {
            width: 100%;
            padding: 4%;
            border: 2px solid #000;
            border-radius: 5px;
            font-size: clamp(8px, 5vw, 1rem);
            font-weight: 600;
            color: white;
            background-color: #444;
            box-shadow: -2px 3px 0 #222, -4px 6px 0 #000; 
    }

}


